        .caixa{
            width: 700px;
            height: 300px;
            border: 3px dotted red;
            background-color: lightgreen;
            background-image: url(imagens/fundo-css-escuro.png);
            /* Propriedades do Background
               repeat -> é repetida vertical e horizontal
               repeat-x -> é repetida na horizontal(eixo x)
               repeat-y -> é repetida na veritcal (eixo y)
               no-repeat -> imagem é exibida apenas uma vez
            */
            background-repeat: no-repeat;
    
            /* Propriedades do background attachment
               fixed -> a imagem de fundo permanece na mesma posição na página
               scrool - a imagem de move-se com o conteúdo quando o usuário
               rola a página.
            */
               background-attachment: scroll;

               /* Propriedade do background-position
                 Quando a imagem não é repetida, voce pode posicionar a imagem
                 horizontal: left, center, right
                 vertical: top, center, bottom
                 Necessário escolher dois valores, senão será utilizado center
                 como segundo valor.
                 ex: background-position:right ;
               */
               background-position: right top

            

        }