   #topo-pagina-inicial {
       background-color: red;
   }

   .banner {
       background-color: rgb(153, 151, 151);
   }
   .p1{
    background-color: orange;
   }

   /* Pagina celucalres*/
   #topo-pagina-cel{
    background-color: goldenrod;
   }